In [3]:
import pandas as pd

In [4]:
Actual = ['cat', 'cat', 'not cat', 'cat', 'not cat', 'not cat']

In [5]:
Predicted = ['cat', 'not cat', 'cat', 'cat', 'cat', 'not cat']

In [6]:
df = pd.DataFrame({
    'actual': Actual,
    'predicted': Predicted
})

In [7]:
df

    actual predicted
0      cat       cat
1      cat   not cat
2  not cat       cat
3      cat       cat
4  not cat       cat
5  not cat   not cat

## CAT

In [10]:
# total predicted as cat => 4
# true => 2     => True positive
# false => 2    => False positive
TP = 2
FP = 2

In [11]:
# total predicted as not cat => 2
# true => 1     => True negative
# false => 1    => False negative

TN = 1
FN = 1

In [12]:
# Accuracy
# out of all the prediction how many u got right

(TP + TN) / 6

0.5

In [13]:
# Precision(cat)  =>
# total predicted as cat / actual cat in those predictions
# also cat
# 2 / 4
TP / (TP+FP)

0.5

In [15]:
# Recall(cat)  =>
# those which model predicted correctly as cat / actual cats

2 / 3

0.6666666666666666

In [16]:
# f1 score => harmonic mean of precision and recall

In [17]:
# support

# count of each class

cat = 3
not_cat = 3